/* responsive */
@media only screen and (max-width:991px){
    html{
        font-size: 55%;
      }
}

/*responsive medium device*/
@media only screen and (max-width:768px) {
    html{
        font-size: 50%;
      }
    /*header section*/
    .mobile-menu{
       display:block!important;
    }
    /*header*/
    .header{
      padding:2rem!important;
    }
    .navbar {
        position: absolute;
        top: 7rem;
        background:#401367;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 1.5rem 0 5rem;
        display: none;
    }
    .navbar ul li {
        display: block!important;
    }
    /*Banner section*/
    .banner-text{
        flex-basis:100%!important;
        text-align: center;
        padding-top:2.5rem;
        margin-bottom:2rem;
    }
    .banner-image {
        flex-basis:100%;
        text-align: center;
    }
    .social-top ul {
        justify-content: center;
    }
}
@media only screen and (min-width:769px){
    .navbar{
        display: block!important;
        width:100%!important;
    }
}
/*for extra small device*/
@media only screen and (max-width:320px){
    .banner-text button{
        margin-bottom:1.5rem;
    }
}